/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

body {
  background: #fff url('../images/bgtile.png') repeat-x;
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}
h1,li {
  color: #06365f;
}
h1 {
  font-size: 20px;
  padding: 20px 0 0 25px;
  margin: 0;
}
p {
  padding: 0 0 0 25px;
  color: black;
  font-size: 12px;
}
section {
  text-align: center;
}
nav > ul >li {
  display: inline;
}
nav {
  clear: both;
  padding: 40px 0 0 0;
  text-align: center;
}
li {
  text-transform: uppercase;
  color: #1c5380;
  font-size: 10px;
  margin: 8px;
  font-weight: bold;
}
a {
  text-decoration: none;
  color: #1c5380;
}
#phones {
  float: left;
  height: 420px;
  padding: 100px 0 0 100px;
}
.notphones {
  float: right;
  margin: 100px 100px 0 0;
  height: 420px;
  text-align: left;
}
#logologin {
  clear: both;
  height: 100px;
}
#logo {
  float:left;
  padding: 10px 0 0 0;
  width: 70%;
}
#login {
  float: right;
  border-width: 1px;
  border-radius: 3px;
  margin: 25px 0 0 0;
  background: linear-gradient(#06365f,#1c5380);
  color: white;
  font-size: 12px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#login:hover {
    background: #06365f;
}
#article {
  clear: both;
  margin: 0;
  height: 240px;
  background: url('../images/frame.png');
  background-repeat: no-repeat;
}
.badges {
  height: 70px;
}
div > a > img {
  height: 40px;
}
.badges > a > img {
  padding: 0px 5px 0px 20px;
  margin-top: 20px;
}
#copyright {
  color: #d3d3d3;
}
